<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
.ok{
    text-align:center;
    position: absolute;
    right: 150px;
    top: 12px;
    word-spacing:10px;
}
   a{
       color:black;
        font-style:bold;
   }
    </style>
</head>
<body>

<h2 class="ok"> <a href="login" >login</a>  <a href ="signup" >signup</h2>


</body>
</html>